@charset "utf-8";

.button,
.name,
.profile {
    cursor: pointer
}

#comment1,
#comment2,
#comment3,
#comment4,
#comment5,
#comment6,
#content2,
#content3,
#q2,
#q3,
#q4,
#result1,
#result2,
#result3 {
    display: none
}

body {
    background-color: #222;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header,
.header p {
    background-color: #fff
}

.header {
    padding: 10px;
}

.header p,
hr {
    padding: 0;
    color: #fff
}

.header p {
    margin: 0 0 0 30px
}

hr {
    border: 1px solid #fff;
    margin: 0
}

.header span {
    color: #fff
}

.content {
    padding: 10px;
    box-sizing: border-box;
}

.dt {
    font-size: 12px;
    text-align: right;
    color: #FFF
}

.button,
.button2,
.loading {
    text-align: center
}

.main-content {
    padding: 10px;
    background-color: #fff !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.main-content h1 {
    font-size: 20px
}

.main-content h2 {
    font-size: 18px;
    font-weight: 400
}

.name,
.result {
    font-weight: 700
}

.main-content p {
    font-size: 13px
}

.main-content span {
    color: red
}

p.question {
    font-size: 15px
}

.button {
    border: 2px solid #FFF;
    background-color: #0051a6;
    padding: 6px 0;
    margin: 6px 0;
    color: #FFF
}

.result {
    margin: 0;
    padding: 5px 0 5px 25px
}

.button2 {
    background-color: #fa6400;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
}

a.claim {
    color: #fff;
    text-decoration: none
}

.comment-status span,
.name {
    color: #3b5998
}

.profile {
    float: left;
    width: 60px;
    margin-right: 10px
}

.comments {
    background-color: #eeeff4;
    border-bottom: 2px solid #fff;
    padding: 10px
}

.comment-content img,
.profile img {
    width: 100%
}

.comment-content {
    float: left;
    width: 190px
}

.name {
    margin: 0
}

.clr {
    clear: both
}

.comment-status {
    font-size: 11px;
    cursor: pointer
}

.comment-like {
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px
}

.prize-box {
    box-shadow: 0 0 2px 2px #e9e9e9;
    padding: 10px 6px;
    position: relative;
}

.leftcol {
    width: 40%;
    padding-right: 10px;
}

.leftcol img {
    width: 100%;
}

.rightcol {
    width: 60%;
    height: 200px;
    vertical-align: top;
}

.prize-head {
    font-size: 16px;
    font-weight: bold;
    color: black !important;
}

.button-prize {
    background-color: #fa6400;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.space-row {
    height: 10px;
}

.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255, 255, 255, .38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}